<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/poinsla-style.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}plugins/fonts/css/all.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}plugins/aos/aos.css">
    <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
</head>