<header class="hero masthead bg-success text-white text-center" id="home">
    <div class="container">
        <div class="bg-overlay"></div>
        <figure>
            <img class="profile img-fluid d-block mx-auto mb-5 rounded-circle" src="/img/profile.jpeg" alt="{{ .Site.Title }}" data-aos="fade-up">
        </figure>
        <h1 data-aos="fade-up">I'am Roby Adi Putra</h1>
        <p data-aos="fade-right">Junior Web Developer</p>
        <ul class="social-media list-inline" data-aos="fade-left">
            <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="#">
                    <i class="fab fa-instagram fa-fw"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="#">
                    <i class="fab fa-twitter fa-fw"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="#"><i class="fab fa-github fa-fw"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="#">
                    <i class="fab fa-linkedin fa-fw"></i>
                </a>
            </li>
        </ul>
    </div>
</header>