<section id="portfolio" class="bg-success portfolio pb-5 pt-5">
    <div class="container">
        <h2 class="text-uppercase text-center text-white" data-aos="fade-right">Portfolio</h2>
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                <a href="#portfolio-modal-1" class="d-block mx-auto portfolio-item" data-toggle="modal">
                    <!-- <div class="d-flex portfolio-item-caption position-absolute h-100">
                        <div cclass="my-auto portfolio-item-caption-content text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>  
                    </div> -->
                    <figure><img class="img-fluid portfolio-image rounded" src="/img/portfolio/kbi-home.jpg" alt="portfolio"></figure>
                </a>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                <a href="#portfolio-modal-2" class="d-block mx-auto portfolio-item" data-toggle="modal">
                    <!-- <div class="d-flex portfolio-item-caption position-absolute h-100">
                        <div cclass="my-auto portfolio-item-caption-content text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>  
                    </div> -->
                    <figure><img class="img-fluid portfolio-image rounded" src="/img/portfolio/Screenshot_2021-01-28 Poinsla Helth Fitnes.png" alt="portfolio"></figure>
                </a>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                <a href="#portfolio-modal-3" class="d-block mx-auto portfolio-item" data-toggle="modal">
                    <!-- <div class="d-flex portfolio-item-caption position-absolute h-100">
                        <div cclass="my-auto portfolio-item-caption-content text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>  
                    </div> -->
                    <figure><img class="img-fluid portfolio-image rounded" src="/img/portfolio/Screenshot_2021-01-29 BBM Tours Lets Travel With Us .png" alt="portfolio"></figure>
                </a>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                <a href="#portfolio-modal-4" class="d-block mx-auto portfolio-item" data-toggle="modal">
                    <!-- <div class="d-flex portfolio-item-caption position-absolute h-100">
                        <div cclass="my-auto portfolio-item-caption-content text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>  
                    </div> -->
                    <figure><img class="img-fluid portfolio-image rounded" src="/img/portfolio/Screenshot_2021-01-29 Poinsla I Kadek Roby Adi Putra.png" alt="portfolio"></figure>
                </a>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                <a href="#portfolio-modal-5" class="d-block mx-auto portfolio-item" data-toggle="modal">
                    <!-- <div class="d-flex portfolio-item-caption position-absolute h-100">
                        <div cclass="my-auto portfolio-item-caption-content text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>  
                    </div> -->
                    <figure><img class="img-fluid portfolio-image rounded" src="/img/portfolio/Screenshot_2021-01-29 Responsive landing page.png" alt="portfolio"></figure>
                </a>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                <a href="#portfolio-modal-6" class="d-block mx-auto portfolio-item" data-toggle="modal">
                    <!-- <div class="d-flex portfolio-item-caption position-absolute h-100">
                        <div cclass="my-auto portfolio-item-caption-content text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>  
                    </div> -->
                    <figure><img class="img-fluid portfolio-image rounded" src="/img/portfolio/Screenshot_2021-01-29 Responsive website food.png" alt="portfolio"></figure>
                </a>
            </div>
        </div>
    </div>

    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Kebo Iwa Express</h2>
                                <hr class="mb-5">
                                <figure><img class="img-fluid mb-5" src="/img/portfolio/kbi-home.jpg"></figure>
                                <p class="mb-5">Kebo Iwa Express is a crossingbservice from Sanur to Nusa Penida and vice versa.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5">
                    <a class="btn btn-primary mx-auto rounded-pill portfolio-modal-dismiss" role="button" href="https://keboiwaexpress.com">Take a look</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-2">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Poinsla Fitnes</h2>
                                <hr class="mb-5">
                                <figure><img class="img-fluid mb-5" src="/img/portfolio/Screenshot_2021-01-28 Poinsla Helth Fitnes.png"></figure>
                                <p class="mb-5">Poinsla Fitnes</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5">
                    <a class="btn btn-primary mx-auto rounded-pill portfolio-modal-dismiss" role="button" href="https://inspiring-poitras-a40dd2.netlify.app">Take a look</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-3">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">BBM Tours</h2>
                                <hr class="mb-5">
                                <figure><img class="img-fluid mb-5" src="/img/portfolio/Screenshot_2021-01-29 BBM Tours Lets Travel With Us .png"></figure>
                                <p class="mb-5">BBM Tours and Travel</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5">
                    <a class="btn btn-primary mx-auto rounded-pill portfolio-modal-dismiss" role="button" href="https://bbmtours.id">Take a look</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-4">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Roby Portfolio</h2>
                                <hr class="mb-5">
                                <figure><img class="img-fluid mb-5" src="/img/portfolio/Screenshot_2021-01-29 Poinsla I Kadek Roby Adi Putra.png"></figure>
                                <p class="mb-5">Web developer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5">
                    <a class="btn btn-primary mx-auto rounded-pill portfolio-modal-dismiss" role="button" href="https://clever-poincare-cb9408.netlify.app">Take a look</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-5">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Gift Store</h2>
                                <hr class="mb-5">
                                <figure><img class="img-fluid mb-5" src="/img/portfolio/Screenshot_2021-01-29 Responsive landing page.png"></figure>
                                <p class="mb-5">Cristmass Gift Store</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5">
                    <a class="btn btn-primary mx-auto rounded-pill portfolio-modal-dismiss" role="button" href="https://eager-shannon-e6cb21.netlify.app">Take a look</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-6">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Poinsla Restaurant</h2>
                                <hr class="mb-5">
                                <figure><img class="img-fluid mb-5" src="/img/portfolio/Screenshot_2021-01-29 Responsive website food.png"></figure>
                                <p class="mb-5">Poinsla Restaurant</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5">
                    <a class="btn btn-primary mx-auto rounded-pill portfolio-modal-dismiss" role="button" href="https://dreamy-chandrasekhar-d9d8b4.netlify.app">Take a look</a>
                </div>
            </div>
        </div>
    </div>
</section>